<h1>Help</h1>
<p>
Get help on the Ruby on Rails Tutorial at the <a href="http://mmibrokers.com/">contact page</a>To get help just help your self and all will be good in the end <a href="htt://mmibrokers.com/contact/">help me</a>
</p>